/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Estilo do header ou estilo do cabeçalho */
header {
    background-color: #2A003F;
    color: white;
    padding: 20px;

    display: flex; /* coloca logo e menu na mesma linha */
    justify-content: space-between; /* um fica à esquerda, outro à direita */
    align-items: center; /* alinha verticalmente os elementos */
}

/* O Logotipo do site */
.logo h1 {
    font-size: 22px;
}

/* Menu principal onde ficam os links */
.menu {
    list-style: none; /* tira as bolinhas */
    display: flex;
    gap: 20px; /* espaço entre os itens do menu no caso os links */
}

.menu li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.menu li a:hover {
    color: #ffcc00;
    text-decoration: none;
}

/* Conteúdo principal */
main {
    flex: 1; /* faz o main ocupar o espaço disponível */
    padding: 40px;
    background-color: rgb(255, 255, 255);
    min-height: 70vh;
    line-height: 15px;
    background: url(icone-kukula.png) center;
}

/* Caixa de contato */
.contato {
    max-width: 600px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto; /* centraliza */
    padding: 30px;

    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(117, 117, 117, 0.904);
}

/* Título da seção */
.contato h2 {
    margin-bottom: 20px;
    color: #1f2933;
}

/* Textos */
.contato p {
    margin-bottom: 12px;
    font-size: 16px;
    color: #333;
}

.projeto {
    max-width: 800px;
    margin: 0 auto 40px auto;
    background-color: white;
    padding: 30px;

    border-radius: 8px;
}

.projeto h2 {
    margin-bottom: 15px;
    color: #1f2933;
}

.projeto p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #444;
}

/* Rodapé */
footer {
    background-color: #2A003F;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 14px;
}
