* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: white;
    color: #333;
}


/* IA - DIALOGFLOW */

footer > .title-wrapper {
    align-items: center;
    background-color: #2A003F;
    border-radius: 5px 5px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px 0px;
    color: var(--df-messenger-button-titlebar-font-color);
    display: flex;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    height: 50px;
    justify-content: space-between;
    padding-left: 15px;
}


/* HEADER */
header {
    background: #2A003F;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    margin-left: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
}

header nav a:hover {
    background-color: white;
    color: #2A003F;
    transition: all 0.5s ease-in-out;
    padding: 10px;
    transform: scale(1.3);
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

/* SEÇÕES */
.section {
    padding: 60px 40px;
}

.home {
    background: linear-gradient(135deg, #2A003F, #5b2b82);
    background: url(pexels-zen-chung-5538634.jpg) no-repeat center center/cover;
    color: white;
    text-align: center;
    padding-top: 10%;
    height: 500px;
}

.home #ver {
    text-decoration: none;
    margin-top: 20px;
    padding: 12px 30px;
    border: none;
    background: white;
    color: #2A003F;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}


.home #ver:hover{
    background: #2A003F;
    color: #fff;    
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* flex-wrap: wrap; */
    text-align: center;
    gap: 2rem;
    padding: 5%;
}

.sobre .icon {
    min-width: 300px;
    max-width: 500px;
    text-align: center;
}

.sobre .texto h2 {
    font-size: 30pt;
    margin-bottom: 20px;
    text-align: left;
}

.sobre .texto p {
    font-size: 14pt;
    line-height: 1.6;
    text-align: justify;
}

/* FAQ */
.Faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    text-align: left;
    padding: 2%;
    /* gap: 2rem; */
    /* border-top: 2px solid #44444423; */
}

.container2 .Faq h1{
    font-size: 30pt;
}
h2{
    font-size: 20pt;
    color: #2A003F;
    margin-bottom: 2%;
}

summary{
    padding: auto;
    font-size: 16pt;
    color: #2A003F;
    cursor: pointer;
    list-style: none;
    padding-top: 2%;
}

details[open]{
    text-align: justify;
    font-size: 14pt;
    background-color: #e39d9d;
    padding: 2% 2%;
    transition: ease-in-out 0.6s;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.301);
}

details:hover{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.301);
    border: 1px solid #239cff;
}

details[open]{
    color: #2A003F;
}

/* CURSOS */
.cursos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    color: white;
}

.curso-card {
    cursor: pointer;
    background: #2A003F;
    padding: 20px;
    border-radius: 8px;
}

.curso-card:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.curso-card a {
    display: inline-block;
    margin-top: 10px;
    color: #2A003F;
    font-weight: bold;
    text-decoration: none;
    padding: 2%;
    background-color: #fff;
    border-radius: 4px;
}

.curso-card a:hover {
    background-color: #e39d9d;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
}


.FeedBack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 2%;
    gap: 2rem;
    border-top: 2px solid #44444423;
    margin-bottom: 2%;
}

.Feedback h1{
    font-size: 30pt;
}

.Feedback form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


/* FORM */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

form input, form textarea {
    width: 400px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #00000036;
}

form button {
    padding: 10px;
    border: none;
    background: #2A003F;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}



/* FOOTER */
footer {
    width: 100%;
    background: #2A003F;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
}